{% extends 'shared/layout.html' %}
{% block body %}
<section>
    <div class="flex flex-col items-center bg-base-200 px-6 py-8 mx-auto h-screen">
        <div class="flex flex-col items-center md:max-w-md p-8 space-y-6 bg-base-100 rounded-lg shadow-lg">
            <img src="{{ url_for('static', filename='images/logo.png') }}" />
            <div class="w-full">
                <h1 class="text-2xl font-medium">
                    Sign in to your account
                </h1>
                <form
                    class="flex flex-col space-y-4"
                    action="{{ url_for('auth.login_submit') }}"
                    method="post"
                >
                    <div class="flex flex-col">
                        <div class="label">
                            <span class="label-text">Email Address</span>
                            {% if 'email' in errors %}
                            <span class="ml-4 text-xs text-red-500">{{ errors['email']|first }}</span>
                            {% endif %}
                        </div>
                        <input 
                            name="email"
                            type="text"
                            placeholder="name@domain.com"
                            class="input input-bordered"
                        />
                    </div>
                    <div class="flex flex-col">
                        <div class="label">
                            <span class="label-text">Password</span>
                            {% if 'password' in errors %}
                            <span class="ml-4 text-xs text-red-500">{{ errors['password']|first }}</span>
                            {% endif %}
                        </div>
                        <input 
                            name="password"
                            type="password"
                            placeholder="••••••••••"
                            class="input input-bordered"
                        />
                    </div>
                    <div class="flex flex-row-reverse justify-between mt-9">
                        <button id="save" class="btn">Submit</button>
                        {% if '_other' in errors %}
                        <div class="mt-4 ml-4 text-xs text-red-500">{{ errors['_other']|first }}</div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
