{% extends 'shared/page.html' %}
{% block content %}
<div class="flex items-center">
    <div class="flex-1 px-2 py-4"><h1 class="text-2xl font-medium">Scans</h1></div>
    <div class="flex-none">
        <button
            class="btn btn-circle btn-ghost"
            hx-get="{{ url_for('core.scans_form') }}"
            hx-target="#form_container"
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>              
        </button>
    </div>
</div>
<div
    class="overflow-x-auto"
    hx-get="{{ url_for('core.scans_table') }}"
    hx-trigger="every 30s, watch-refresh-scans from:body"
    hx-swap="innerHTML"
>
{{ render_partial('partials/tables/scans.html', scans=scans) }}
</div>
<dialog id="modal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div
            id="form_container"
            class="p-2"
            hx-on:htmx:before-swap="if(event.detail.xhr.status==201){modal.close();}"
            hx-on:htmx:after-swap="modal.showModal()"
        ></div>
    </div>
</dialog>
{% endblock %}
