<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{"includeIndicatorStyles": false}' />
    <title>Burp Probe</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.min.css" /-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/daisyui.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/burp-probe.css') }}" />
    <!--script src="https://cdn.tailwindcss.com"></script-->
    <script src="{{ url_for('static', filename='js/tailwind.min.js') }}"></script>
    <!--script src="https://unpkg.com/htmx.org@latest/dist/htmx.min.js"></script-->
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <!--script src="https://unpkg.com/htmx.org@latest/dist/ext/debug.js"></script-->
    <!--script src="{{ url_for('static', filename='js/htmx-debug.js') }}"></script-->
    <script src="{{ url_for('static', filename='js/burp-probe.js') }}"></script>
</head>
