<div class="modal-box">
    <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <form
        class="flex flex-col p-2"
        hx-post="{{ url_for('core.assets_create') }}"
        hx-trigger="click from:#save"
        hx-swap="none"
        hx-on::after-request="this.reset();addAssetModal.close()"
    >
    <div class="label"><span class="label-text">URL</span></div>
    <input name="url" type="text" placeholder="Enter a URL." class="input input-bordered" />
    <div class="label"><span class="label-text">Description</span></div>
        <input name="description" type="text" placeholder="Enter a description." class="input input-bordered" />
        <div class="flex justify-end mt-9">
            <button id="save" class="btn">Save</button>
        </div>
    </form>
</div>
