<table class="table">
    <thead>
        <tr>
            <th>URL</th>
            <th>Scans</th>
            <th></th>
        </tr>
    </thead>
    <tbody
    {% if assets|length > 0 %}
    {% for asset in assets %}
        <tr>
            <td><code>{{ asset.url }}</code></td>
            <td>{{ asset.count }}</td>
            <td></td>
        </tr>
    {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="4">No assets found. Click "+" to add one.</td>
        </tr>
    {% endif %}
    </tbody>
</table>
