<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Node</th>
            <th>Started</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody
    {% if scans|length > 0 %}
    {% for scan in scans %}
        <tr>
            <td>{{ scan.name }}</td>
            <td><code>{{ scan.node.name }}</code></td>
            <td><code>{{ scan.created_as_string }}</code></td>
            <td><code>{{ scan.status }}</code></td>
            <td>
                <div class="flex"></div>
            </td>
        </tr>
    {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="4">No scans found. Click "+" to add one.</td>
        </tr>
    {% endif %}
    </tbody>
</table>
